# Игнорируем все файлы и папки
/*

# Разрешаем отслеживание папки Lesson_17
!/Lesson_17/

# Разрешаем отслеживание файлов в папке Lesson_17
!/Lesson_17/*

# Если в папке Lesson_17 есть другие скрытые файлы/папки, которые не должны быть проигнорированы, можно явно их разрешить
!/Lesson_17/.gitignore
!/Lesson_17/.idea/
